body {
  background-color: #2d3e50;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.h-menu {
  width: 700px;
  background-color: #34495e;
  margin: auto;
}
.h-menu ul {
    margin:0px;
    padding:0px;
    list-style-type: none;
}
.h-menu ul li {
  display: inline-block;
}
.h-menu ul li a {
    display: block;
    text-decoration: none;
    color:white;
    padding:20px 40px 20px 40px;
}
.h-menu ul li a:hover {
    background-color: #18bd9b;
}
